[submodule "NESO"]
	path = NESO
	url = https://github.com/ExCALIBUR-NEPTUNE/NESO.git
[submodule "Reactions"]
	path = Reactions
	url = git@github.com:UKAEA-Edge-Code/Reactions.git
[submodule "VANTAGE-Reactions"]
	path = VANTAGE-Reactions
	url = git@github.com:UKAEA-Edge-Code/VANTAGE-Reactions.git
